# Accessing Odds API to gather Player Props data

In [1]:
import requests
import json
import pandas as pd
import re
import numpy as np
from datetime import datetime, timedelta
import os

In [13]:
api_key_1 = os.getenv('Sport_Game_Odd_Key') # for the sportsGame API
api_key_2 = os.getenv('Odds_API_Key') # For the odds API

In [3]:
header = {'x-api-key': api_key_1}

In [4]:
today = datetime.today()
tomorrow = today + timedelta(days = 1)
yesterday = today - timedelta(days = 2)

In [5]:
response = requests.get('https://api.sportsgameodds.com/v1/events', params={
    'leagueID': 'NBA',
    'marketOddsAvailable': 'true',
    'limit': 30,
    'startsAfter': today,
    'startsBefore': tomorrow
}, headers = header)

data = response.json()

In [6]:
length = len(data['data'])

In [7]:
length

1

In [15]:
def extract_player_point_props(json_data):
    player_props = {}
    pattern = r"points-([A-Z_]+)_NBA-game-ou-(over|under)"
    three_word_teams = ["new", "golden", "los", "oklahoma", "san"]

    for key, value in json_data['odds'].items():
        match = re.match(pattern, key)
        if match:
            full_name = match.group(1).replace('_', ' ').lower()
            over_under = match.group(2).lower()
            
            # Split the full name into parts
            name_parts = full_name.split()
            
            # Check if the third-to-last word is in the list of three-word team prefixes
            if len(name_parts) > 3 and name_parts[-3] in three_word_teams:
                player_name = ' '.join(name_parts[:-3])  # Everything except the last three words
                team_name = ' '.join(name_parts[-3:])    # Last three words
            else:
                player_name = ' '.join(name_parts[:-2])  # Everything except the last two words
                team_name = ' '.join(name_parts[-2:])    # Last two words
            
            if player_name not in player_props:
                player_props[player_name] = {
                    'team': team_name,
                    'line': value['overUnder'],
                    'over': {'odds': None, 'book_line': None},
                    'under': {'odds': None, 'book_line': None}
                }
            
            if value['sideID'].lower() == 'over':
                player_props[player_name]['over'] = {
                    'book_line': value['bookOdds']
                }
            elif value['sideID'].lower() == 'under':
                player_props[player_name]['under'] = {
                    'book_line': value['bookOdds']
                }

    return player_props

In [17]:
game_data = []
for i in range(length):
    d = extract_player_point_props(data['data'][i])
    game_data.append(d)

### Below is commented out since only needed once

In [20]:
game_data

[{'pj washington': {'team': 'dallas mavericks',
   'line': '10.5',
   'over': {'book_line': '-105'},
   'under': {'book_line': '-130'}},
  'klay thompson': {'team': 'dallas mavericks',
   'line': '16.5',
   'over': {'book_line': '-125'},
   'under': {'book_line': '-105'}},
  'john collins': {'team': 'utah jazz',
   'line': '18.5',
   'over': {'book_line': '-103'},
   'under': {'book_line': '-130'}},
  'lauri markkanen': {'team': 'utah jazz',
   'line': '20.5',
   'over': {'book_line': '-110'},
   'under': {'book_line': '-119'}},
  'jordan clarkson': {'team': 'utah jazz',
   'line': '15.5',
   'over': {'book_line': '-105'},
   'under': {'book_line': '-125'}},
  'daniel gafford': {'team': 'dallas mavericks',
   'line': '11.5',
   'over': {'book_line': '-120'},
   'under': {'book_line': '-110'}},
  'naji marshall': {'team': 'dallas mavericks',
   'line': '8.5',
   'over': {'book_line': '-101'},
   'under': {'book_line': '-130'}},
  'keyonte george': {'team': 'utah jazz',
   'line': '14.5',
   'over': {'book_line': '-120'},
   'under': {'book_line': '-109'}},
  'luka doncic': {'team': 'dallas mavericks',
   'line': '30.5',
   'over': {'book_line': '-122'},
   'under': {'book_line': '-108'}},
  'kyrie irving': {'team': 'dallas mavericks',
   'line': '25.5',
   'over': {'book_line': '-118'},
   'under': {'book_line': '-114'}},
  'collin sexton': {'team': 'utah jazz',
   'line': '16.5',
   'over': {'book_line': '-122'},
   'under': {'book_line': '-106'}},
  'dereck lively': {'team': 'dallas mavericks',
   'line': '8.5',
   'over': {'book_line': '-114'},
   'under': {'book_line': '-114'}}}]

df = pd.DataFrame()
df = df.reindex(range(1000))
num_rows = len(df)

##### Calculate the start date 
start_date = datetime.now().date() - timedelta(days = 400)

##### Create a date range
date_range = pd.date_range(start=start_date, periods=num_rows)

##### Add the 'Date' column to your DataFrame
df['Date'] = date_range

##### Format the date as MM/DD if you prefer
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')

In [23]:
df = pd.read_csv('prop_table.csv', index_col=0)

In [25]:
df

,date,bilal coulibaly_line,bilal coulibaly_under,bilal coulibaly_over,amen thompson_line,amen thompson_under,amen thompson_over,jalen green_line,jalen green_under,jalen green_over,...,dalton knecht_over,dangelo russell_line,dangelo russell_under,dangelo russell_over,rui hachimura_line,rui hachimura_under,rui hachimura_over,anthony davis_line,anthony davis_under,anthony davis_over
0,2023/10/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023/10/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/10/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023/10/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023/10/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2026/06/29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,2026/06/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,2026/07/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2026/07/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2026/07/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
date = datetime.now().date().strftime('%Y/%m/%d') 
for d in game_data:
    for player in d:
        print(player)
        
        # Create a column for the player if it doesn't exist
        if f'{player}_line' not in df.columns:
            df[f'{player}_line'] = np.nan
        if f'{player}_under' not in df.columns:
            df[f'{player}_under'] = np.nan
        if f'{player}_over' not in df.columns:
            df[f'{player}_over'] = np.nan
        
        
        # Find the first NaN value in the player's column
    
        print(date)
        # Assign the new value to the next empty row
        df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
        df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
        df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']

pj washington
2024/11/14
klay thompson
2024/11/14
john collins
2024/11/14
lauri markkanen
2024/11/14
jordan clarkson
2024/11/14
daniel gafford
2024/11/14
naji marshall
2024/11/14
keyonte george
2024/11/14
luka doncic
2024/11/14
kyrie irving
2024/11/14
collin sexton
2024/11/14
dereck lively
2024/11/14

C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-105' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-130' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-125' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-105' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '18.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-103' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-130' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '20.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-110' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-119' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '15.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-105' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-125' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-120' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-110' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '8.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-101' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-130' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-120' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-109' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '30.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-122' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-108' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '25.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-118' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-114' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-122' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-106' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '8.5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_line'] = d[player]['line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-114' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_over'] = d[player]['over']['book_line']
C:\Users\jam2m\AppData\Local\Temp\ipykernel_3788\3179487539.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-114' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['date'] == date, f'{player}_under'] = d[player]['under']['book_line']

In [29]:
df = df.loc[:, ~df.columns.duplicated()]
df.shape

(1000, 481)

In [31]:
df.columns = df.columns.str.lower()
df

,date,bilal coulibaly_line,bilal coulibaly_under,bilal coulibaly_over,amen thompson_line,amen thompson_under,amen thompson_over,jalen green_line,jalen green_under,jalen green_over,...,anthony davis_over,pj washington_line,pj washington_under,pj washington_over,klay thompson_line,klay thompson_under,klay thompson_over,dereck lively_line,dereck lively_under,dereck lively_over
0,2023/10/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023/10/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/10/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023/10/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023/10/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2026/06/29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,2026/06/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,2026/07/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2026/07/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2026/07/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.to_csv('prop_table.csv')

In [36]:
url = "https://api.sportsgameodds.com/v1/account/usage"

headers = header

response = requests.get(url, headers=headers)

print(response.json())

{'success': True, 'data': {'keyID': 'b8d294d968b4d0f753d53f4a9e8173952107b1a17338a758b68f98f2ab887092', 'customerID': 'cus_RAwtHswGZQdPPj', 'isActive': True, 'rateLimits': {'per-second': {'maxRequestsPerInterval': 'unlimited', 'maxEntitiesPerInterval': 'unlimited', 'currentIntervalRequests': 'n/a', 'currentIntervalEntities': 'n/a', 'currentIntervalEndTime': 'n/a'}, 'per-minute': {'maxRequestsPerInterval': 10, 'maxEntitiesPerInterval': 'unlimited', 'currentIntervalRequests': 1, 'currentIntervalEntities': 'n/a', 'currentIntervalEndTime': '2024-11-14T11:42:18.147Z'}, 'per-hour': {'maxRequestsPerInterval': 'unlimited', 'maxEntitiesPerInterval': 'unlimited', 'currentIntervalRequests': 'n/a', 'currentIntervalEntities': 'n/a', 'currentIntervalEndTime': 'n/a'}, 'per-day': {'maxRequestsPerInterval': 'unlimited', 'maxEntitiesPerInterval': 'unlimited', 'currentIntervalRequests': 'n/a', 'currentIntervalEntities': 'n/a', 'currentIntervalEndTime': 'n/a'}, 'per-month': {'maxRequestsPerInterval': 'unlimited', 'maxEntitiesPerInterval': 1000, 'currentIntervalRequests': 'n/a', 'currentIntervalEntities': 22, 'currentIntervalEndTime': '2024-12-01T00:00:00.000Z'}}}}